.projects {
  margin-left: 40px;
}

.about {
  margin-left: 180px;
}

.project-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
